@font-face {
  font-family: monument;
  src: url(monument.otf);
}


* {
  margin: 0;
  /* padding: 1%; */
  box-sizing: border-box;
  /* border-radius: 30px; */
}

html,
body {
  height: 100%;
  weight: 100%;
  color: #fff
}

.heading {
  margin:0;
  padding-left: 45px;
  padding-top: 20px;
  height:100px;
  display: flex;
  scale: 1;
  background: #f0000;
  cursor: pointer;
}

nav {
    display:flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height:100px
}
.right {
    font-family:monument;
    color: #ffffff ;
    display:flex;
    position: relative;
    align-items: center;
    padding-right: 70px;
}

.right a {
    padding:15px;
    text-decoration: none;
    letter-spacing:2px;
    text-transform: uppercase;
    cursor: pointer;
    font-size:15px;
}

.right:hover{
  text-shadow: 0 0 15px #00ffff;
  0 0 25px #00ffff, 0 0 50px #00ffff,
  0 0 100px #00ffff,0 0 200px #00ffff
}

.brand {
    background-color: #000;
    margin-top: 0;
    padding-top:20px;
}

#main {
  height: 100%;
  width: 100%;
  background-color: #000000;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:70px;
}

#main img {
  height: 800px;
  border-radius: 10px;
  positon: relative;
  /* z-index: 99; */
  /* display: flex; */
  justify-content:space-between;
  /* justify-content: flex-end; */
  /* align-items: center; */
}

.container {
    position: relative;
    overflow: scroll;
}

.container img {
    position: relative;
    margin-left:10%;
    margin-bottom:50px;
    top: 20%;
    height: 100%;
    object-fit: cover;
    align-items: center;
    justify-content: center;
}

.glass{
    background:linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter:blur(10px);
    -webkit-backdrop-filter:blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px rgba(0,0,0,0.37);
    z-index: 98;
    height: 100%;
    width: 100%;
}

.glass::-webkit-scrollbar {
  display: none;
}

#text {
    font-size: 32px;
    position: absolute;
    color: #fff;
    font-family: monument;
    width: 60%;
    z-index: 999;
    text-align: center;
    top: 13%;
    text-transform: uppercase;
    letter-spacing:3px;
  }

#scroll-div {
  position: absolute;
  top: 34%;
  width: 100%;
  /* height:100px; */
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

#scroll-div::-webkit-scrollbar {
  display: none;
}

#scroll-div h1 {
  color: #fff;
  display: inline-block;
  font-size: 140px;
  margin-right: 30px;
  letter-spacing: 5px;
  font-family: monument;
  text-transform: uppercase;
  animation-name: scroll;
  animation-duration: 1s;
  animation-timing-function:linear;
  animation-iteration-count: infinite;
}

#scroll-div2 {
  position: absolute;
  top: 48%;
  width: 100%;
  z-index: 100;
  /* height:100px; */
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

#scroll-div2::-webkit-scrollbar {
  display: none;
}

#scroll-div2 h1 {
  color: #fff;
  display: inline-block;
  font-size: 140px;
  margin-right: 30px;
  letter-spacing: 5px;
  font-family: monument;
  color: transparent;
  text-transform: uppercase;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  animation-name: scroll;
  animation-duration: 2s;
  animation-timing-function:linear;
  animation-iteration-count: infinite;
}

#scroll-div3 {
  position: absolute;
  top: 62%;
  width: 100%;
  /* height:100px; */
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

#scroll-div3::-webkit-scrollbar {
  display: none;
}

#scroll-div3 h1 {
  color: #fff;
  display: inline-block;
  font-size: 140px;
  margin-right: 30px;
  letter-spacing: 5px;
  font-family: monument;
  text-transform: uppercase;
  animation-name: scroll;
  animation-duration: 1s;
  animation-timing-function:linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

@keyframes scroll {
  0% {
    transform: translateX(calc(-100% - 32px));
  }
  100% {
    transform: translateX(0);
  }
}
